/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.App {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "montserrat";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  position: fixed;
}
.hamburger-times {
  width: 100%;
  padding: 3% 0 6%;
  background-color: rgb(234, 234, 243);
}
.filter-navigator-open {
  background-color: rgb(234, 234, 243);
  border-radius: 5px;
  width: 100%;
  height: 512px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 3%;
}
.filter-navigator-closed {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
.icon-container-open {
  width: 100%;
  height: 512px;
  display: flex;
  flex-wrap: wrap;
}
.icon-container-closed {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
}
.form-filter {
  width: 100%;
  height: 512px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3% 0 0;
  font-size: 1.4rem;
}
.sort-input {
  width: 100%;
  font-size: 1.2rem;
}

.reset-container {
  width: 100%;
  padding: 16% 14% 10%;
}
.reset-btn {
  width: 100%;
  color: ghostwhite;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #be305b;
  padding: 4% 5%;
}

@media (min-width: 1024px) {
  .nav {
    position: static;
  }
  .hamburger-times {
    background-color: white;
    padding: 24% 0 6%;
  }
  .filter-navigator-open {
    width: 10%;
    background-color: white;
  }
  .filter-navigator-closed {
    width: 10%;
  }
  .icon-container-open {
    width: 100%;
  }
  .form-filter {
    width: 100%;
    height: 512px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3% 0 0;
    font-size: 1.4rem;
  }
  .sort-input {
    width: 100%;
    font-size: 1.2rem;
  }
}

.link:hover {
  cursor: pointer;
  color: gold;
}

.form-search {
  width: 100%;
  padding: 1% 3% 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 14% 0 0;
}
.searchbar {
  width: 60%;
  height: 36px;
  border: none;
  background-color: rgb(231, 231, 231);
  border-radius: 7px 0 0 7px;
  font-size: 1.6rem;
  padding: 0 1%;
}
input:focus {
  outline: none;
}
.submit-btn {
  border-radius: 0 7px 7px 0;
  border: none;
  background-color: #30bea0;
  color: ghostwhite;
  font-size: 1.4rem;
  transition: .25s ease;
}
.submit-btn:hover {
  cursor: pointer;
  background-color: #5ad3b9;
  transition: .175s ease;
}
.submit-btn:focus {
  outline: none;
}
.search-results-count {
  width: 100%;
  padding: 1% 0 0;
}
@media(min-width: 1024px) {
  .form-search {
    justify-content: flex-start;
    margin: 4% 0 0;
  }
  .searchbar {
    width: 36%;
  }
  .search-results-count {
    width: 30%;
  }
  .search-results-count-none {
    width: 30%;
    font-size: 1.8rem;
    font-weight: bold;
  }
}

.card-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2% 4% 0;
}
.card-container {
  width: 100%;
  height: auto;
  border: 2px solid lightgrey;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 5%;
}
.card-title {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  padding: 5% 0 0;
}
.card-stats-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3% 0;
}
.img-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.middle {
  display: none;
}
.card-img {
  width: 100%;
  border-radius: 7px 7px 0 0;
  object-fit: cover;
  height: 256px;
}
.card-username {
  width: 100%;
  padding: 4% 0 2%;
}
.card-data {
  width: 100%;
  padding: 0 0 3%;
}
@media (min-width: 768px) {
  .card-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2% 0 0;
  }
  .card-container {
    width: 48%;
  }
}
@media (min-width: 1024px) {
  .card-list {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2% 0 0;
  }
  .card-container {
    width: 22%;
    margin: 0 0 3%;
  }
  .card-container:hover {
    cursor: pointer;
  }
  
  /* TEST */
  .middle {
    display: block;
    justify-content: center;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    height: auto;
    width: 19%;
    text-align: center;
  }
  
  .card-container:hover .card-img {
    opacity: 0.75;
    transition: .25s ease;
  }
  
  .card-container:hover .middle {
    opacity: 1;
  }
  
  .text {
    border-radius: 7px 7px 0 0;
    background-color: #000000da;
    color: white;
    font-size: .8rem;
    padding: 16px 32px;
    text-align: center;
  }
}